<a href="index-2.html" class="logo">
        <img src="/assets/images/logo-white.png">
    </a>
    <a href="index-2.html" class="logo-fix">
        <img src="/assets/images/logo.png">
    </a>

    <div class="header-right clearfix">

        <a href="#" class="btn-menu">menu</a>

        <nav class="nav">

            <ul id="menu-main-menu" class="clearfix">

                <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
                    <label class="header-text-label">Already a member?</label>
                </li>
                <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
                    <a href="http://www.mynexthire.com/" class="btn btn-default btn-sm sign-in-btn">Sign In</a>
                </li>

                <!-- <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                       <a (click)="goCustomer()" target="_blank">Customer-Registration</a>
                    </li> -->
                
                   <!--  <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                       <a (click)="goRegistrationList()" target="_blank">Registration-List</a>
                    </li>

                    <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
                      <a (click)="goRecruiter()" target="_blank">Recruiter-Registration</a>
                    </li> -->

            </ul>

        </nav>

    </div>
    <!-- /.header-right -->
    <div class="mobile-header">
        <a href="#" class="btn-close"></a>

        <div class="mobile-header-inner">
            <a href="index-2.html" class="logo-mobile">
                <img src="images/logo-white.png" alt="" width="133" height="19" />
            </a>
            <nav class="nav-mobile">
                <ul id="menu-main-menu-mobile" class="">
                    <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
                        <label class="header-text-label">Already a member?</label>
                    </li>
                    <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23">
                        <a href="javascript:void(0);" class="btn btn-default btn-sm sign-in-btn">Sign In</a>
                    </li>
                    <!-- <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="solutions.html">Solutions</a></li>
                        <li id="menu-item-29796" class="menu-item menu-item-type-post_type menu-item-object-crb_service menu-item-29796"><a href="services.html">Services</a></li> -->

                </ul>

            </nav>
            <!-- 
                <a href="#" target="_blank" class="btn-employee-login">Contact Us</a>

                <nav class="socials-header">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="images/temp/ico-facebook-white.png" alt="" height="23" />
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="images/temp/ico-twitter-white.png" alt="" height="23" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img src="images/temp/ico-linkedin-white.png" alt="" height="23" />
                            </a>
                        </li>
                    </ul>
                </nav> -->
        </div>
    </div>


