<!-- Header -->
<header id="employer-page">

    <!-- fog -->
    <div id="foglayer_01" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_02" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <div id="foglayer_03" class="fog">
      <div class="image01"></div>
      <div class="image02"></div>
    </div>
    <!-- fog -->
  
    <!-- home wrapper -->
    <div class="home-wrapper">
  
      <div class="row">
                
        <div class="col-md-7 col-sm-5 hidden-xs">
            <h2 class="header-banner-heading">Thank you for registering with us.</h2>
            <p class="header-banner-sub-heading">We will get in touch with you shortly</p>
            
        <!--Animated Icons for background-->
        <img src="assets/frontend-style-script/img/shape1.svg" alt="" class="object1 rotate"> 
        <img src="assets/frontend-style-script/img/shape2.svg" alt="" class="object2 rotate2"> 
        <img src="assets/frontend-style-script/img/shape3.svg" alt="" class="object3 rotate"> 
        <img src="assets/frontend-style-script/img/shape4.svg" alt="" class="object4 bounce bounce1"> 
        <img src="assets/frontend-style-script/img/shape5.svg" alt="" class="object5 bounce bounce2"> 
        <img src="assets/frontend-style-script/img/shape6.svg" alt="" class="object6 bounce bounce3"> 
        <img src="assets/frontend-style-script/img/shape7.svg" alt="" class="object7 bounce bounce4"> 
        <img src="assets/frontend-style-script/img/shape8.svg" alt="" class="object8 bounce bounce5">
        
        
        
        </div>
      </div>
    </div>
    <!-- /home wrapper -->
  </header>
  