<!-- Header -->
<header id="employer-page">

  <!-- fog -->
  <div id="foglayer_01" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <div id="foglayer_02" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <div id="foglayer_03" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <!-- fog -->

  <!-- home wrapper -->
  <div class="home-wrapper">

    <div class="row">
      <div class="col-md-7 col-sm-5 hidden-xs">
        <h2 class="header-banner-heading">Great to see you here</h2>
        <p class="header-banner-sub-heading">Create an Emagine client account to post and find employees</p>

        <!--Animated Icons for background-->
        <img src="assets/frontend-style-script/img/shape1.svg" alt="" class="object1 rotate">
        <img src="assets/frontend-style-script/img/shape2.svg" alt="" class="object2 rotate2">
        <img src="assets/frontend-style-script/img/shape3.svg" alt="" class="object3 rotate">
        <img src="assets/frontend-style-script/img/shape4.svg" alt="" class="object4 bounce bounce1">
        <img src="assets/frontend-style-script/img/shape5.svg" alt="" class="object5 bounce bounce2">
        <img src="assets/frontend-style-script/img/shape6.svg" alt="" class="object6 bounce bounce3">
        <img src="assets/frontend-style-script/img/shape7.svg" alt="" class="object7 bounce bounce4">
        <img src="assets/frontend-style-script/img/shape8.svg" alt="" class="object8 bounce bounce5">



      </div>

      <div class="col-md-5 col-sm-7 pull-right">

        <div class="card rounded-0 login-form effect2">
          <div class="card-header">
            <h3 class="mb-0" style="margin-top:0px; text-align:right; font-size: 18px;"><small>Already a member?<a
                  [routerLink]="['/login-rock']"> Sign
                  In</a></small></h3>
          </div>
          <div class="card-body employer-form">

            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method=""
              style="padding-bottom: 10px; " [formGroup]="registrationForm"
              (submit)='addCustRegDetails(registrationForm.value)'>

              <div class="alert alert-success" role="alert" style="display:none;">
                <strong>Well done!</strong> You successfully read this important alert message.
              </div>

              <div class="alert alert-danger" role="alert" style="display:none;">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Company Representative First name"
                      class="form-control form-control-lg rounded-0" required formControlName="first_name"
                      id="first_name">
                    <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="">
                      <div class="invalid-feedback" *ngIf="first_name.errors.required"> First Name Is Required. </div>
                      <div class="invalid-feedback" *ngIf="first_name.errors?.pattern"> Enter Valid Name </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Company Representative Last Name"
                      class="form-control form-control-lg rounded-0" required formControlName="last_name"
                      id="last_name">
                    <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="">
                      <div class="invalid-feedback" *ngIf="last_name.errors.required"> Last Name Is Required. </div>
                      <div class="invalid-feedback" *ngIf="last_name.errors?.pattern"> Enter Valid Name </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Company Name" class="form-control form-control-lg rounded-0"
                      formControlName="company_name" id="company_name" required="">
                    <div *ngIf="company_name.invalid && (company_name.dirty || company_name.touched)" class="">
                      <div class="invalid-feedback" *ngIf="company_name.errors.required"> Company Name Is Required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Company Website"
                      class="form-control form-control-lg rounded-0 optional" formControlName="company_website"
                      id="company_website">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Company Address" class="form-control form-control-lg rounded-0"
                      formControlName="company_address" id="company_address" required="">
                    <div *ngIf="company_address.invalid && (company_address.dirty || company_address.touched)" class="">
                      <div class="invalid-feedback" *ngIf="company_address.errors.required"> Company Address Is
                        Required. </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select placeholder="Country" class="form-control form-control-lg rounded-0"
                      (change)="GetStatesList($event.target.value)" id="country" name="country"
                      formControlName="country" required="">
                      <option disabled value='' selected>Select Country</option>
                      <option *ngFor="let data of getCountry_data" value="{{data.id}}"> {{data.country_name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <select disabled placeholder="State" class="form-control form-control-lg rounded-0"
                      (change)="GetCitiesList($event.target.value)" id="state" name="state" formControlName="state"
                      required="">
                      <option value='' disabled selected>Select State</option>
                      <option *ngFor="let data of getSates_data" value="{{data.id}}"> {{data.state_name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <select disabled placeholder="City" class="form-control form-control-lg rounded-0" id="city"
                      name="city" formControlName="city" required="">
                      <option disabled value='' selected>Select City</option>
                      <option *ngFor="let data of getCities_data" value="{{data.id}}"> {{data.city_name}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Pincode" class="form-control form-control-lg rounded-0"
                      formControlName="pincode" id="pincode" required="">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" value="1-(555)-555-5555" placeholder="Landline Number"
                      class="form-control form-control-lg rounded-0 optional" formControlName="contact_number"
                      id="contact_number">
                    <div *ngIf="contact_number.invalid && (contact_number.dirty)" class="">
                      <div class="invalid-feedback" *ngIf="contact_number.errors?.pattern"> Enter Valid Landline Number
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="number" placeholder="Mobile Number" class="form-control form-control-lg rounded-0"
                      formControlName="mobile_number" id="mobile_number" required="">
                    <div *ngIf="mobile_number.invalid && (mobile_number.dirty || mobile_number.touched)">
                      <div class="invalid-feedback" *ngIf="mobile_number.errors.required"> Enter Valid Mobile Number
                      </div>
                      <div class="invalid-feedback" *ngIf="mobile_number.errors.max">Mobile Number should be of 10
                        digits</div>
                      <div class="invalid-feedback" *ngIf="mobile_number.errors.min">Mobile Number should be of 10
                        digits</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" placeholder="Official Email ID" class="form-control form-control-lg rounded-0"
                      formControlName="email" id="email" required="">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                      <div class="invalid-feedback" *ngIf="email.errors.required"> Email Is Required. </div>
                      <div class="invalid-feedback" *ngIf="email.errors?.pattern"> Enter Valid Email </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="SPOC Name" class="form-control form-control-lg rounded-0 optional"
                      formControlName="SPOC_name" id="SPOC_name">
                    <div *ngIf="SPOC_name.invalid && (SPOC_name.dirty || SPOC_name.touched)">
                      <div class="invalid-feedback" *ngIf="SPOC_name.errors?.pattern"> Enter Valid SPOC Name.</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="SPOC Mobile Number"
                      class="form-control form-control-lg rounded-0 optional" formControlName="SPOC_mobile_number"
                      id="SPOC_mobile_number">
                    <div *ngIf="SPOC_mobile_number.invalid && (SPOC_mobile_number.dirty || SPOC_mobile_number.touched)">
                      <div class="invalid-feedback" *ngIf="SPOC_mobile_number.errors.max">Mobile Number should be of 10
                        digits</div>
                      <div class="invalid-feedback" *ngIf="SPOC_mobile_number.errors.min">Mobile Number should be of 10
                        digits</div>
                      <div class="invalid-feedback" *ngIf="SPOC_mobile_number.errors?.pattern"> Enter Valid Mobile
                        Number.</div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="email" placeholder="SPOC Email Id"
                      class="form-control form-control-lg rounded-0 optional" formControlName="SPOC_email"
                      id="SPOC_email">
                    <div *ngIf="SPOC_email.invalid && (SPOC_email.dirty || SPOC_email.touched)">
                      <div class="invalid-feedback" *ngIf="SPOC_email.errors?.pattern"> Enter Valid Email </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Industry" class="form-control form-control-lg rounded-0"
                      formControlName="industry" id="industry" required="">
                    <div *ngIf="industry.invalid && (industry.dirty || industry.touched)">
                      <div class="invalid-feedback" *ngIf="industry.errors.required"> Industry Is Required. </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" placeholder="Number of Employees" class="form-control form-control-lg rounded-0"
                      formControlName="employee_number" id="employee_number" required="">
                  </div>
                </div>

                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <input type="password" placeholder="Password" class="form-control form-control-lg rounded-0" id="password" formControlName="password" required="" autocomplete="new-password">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div class="invalid-feedback" *ngIf="password.errors.required"> Password Is Required. </div>
                    </div>
                  </div>
                </div> -->

              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="hidden" placeholder="Employer Type" class="form-control form-control-lg rounded-0"
                      formControlName="employer_type" id="employer_type">
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <input type="password" placeholder="Confirm Password" class="form-control form-control-lg rounded-0" formControlName="confirm_password" id="confirm_password" required="" autocomplete="new-password">
                    <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" >
                      <div *ngIf="confirm_password.errors.required"> Confirm Password Is Required. </div>
                    </div>
                    <div *ngIf="password_not_match" class="alert alert-danger">{{password_not_match}}</div>
                  </div>
                </div> -->

                <!-- <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        <a href="#" target="_blank" class="terms-condition">I agree to the terms and conditions</a>
                      </label>
                    </div>
                  </div>	
                </div> -->

              </div>

              <div class="row">
                <div class="col-md-12">
                  <button type="submit" [disabled]="registrationForm.invalid" class="btn btn-danger" id="btnLogin"
                    style="width:100%; border-radius: 0px; padding: 9px 12px; ">Register</button>
                  <img id="loader" name="loader" src="assets/frontend-style-script/img/lg.dual-ring-loader.gif"
                    alt="loader" style="width: 42px;margin:0px auto;display:none;">
                  <p style="color: darkred;text-align:center; margin-top:10px;" *ngIf="errorMsg">
                    {{errorMsg}}
                  </p>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /home wrapper -->
</header>
<button type="button" #openEmployeeModal id="openEmployeeModal" style="display:none;" class="btn btn-info btn-lg"
  data-toggle="modal" data-target="#employeeModal">Open Modal</button>
<div class="modal fade" id="employeeModal" #employeeModal tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registerd Successfully</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="redirectToHomePage();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{successMsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="redirectToHomePage();">Close</button>
      </div>
    </div>
  </div>
</div>