<!-- Footer -->
<footer id="footer" class="wow fadeIn footer sm-padding bg-dark">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <div class="wow fadeIn col-md-3" data-wow-duration="1s" data-wow-delay="1s">
        <p><img src="assets/frontend-style-script/img/logo-white.png" alt="" style="width: 135px;"></p>
        <p>
          Emagine is India’s Largest Marketplace. We are revolutionizing the way Recruitment Functions-Transforming the
          recruitment Vendor Ecosystem- Thousands of Vendor partners at your finger tips.
          <a id="readAbt" [routerLink]="['/about-us']">Readmore..</a>
        </p>

        <!-- footer follow -->
        <ul class="footer-follow">
          <li><a target="_blank"
              href="https://www.linkedin.com/company/emagine-people-solutions-pvt-ltd/?originalSubdomain=in"><i
                class="fa fa-linkedin"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/emagine.co.in"><i class="fa fa-facebook"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
          <li><a [routerLink]="['/contact']"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
        <!-- /footer follow -->

      </div>

      <div class="wow fadeIn col-md-3" data-wow-duration="1.2s" data-wow-delay="1.2s">
        <h3>For Employer</h3>
        <ul class="footer-menu-list-items">
          <li class="menu-list-item">
            <a id="hiwEmployer" [routerLink]="['/hiw-Employer']"><span class="menu-list-text">How it works</span></a>
          </li>
          <li class="menu-list-item">
            <a [routerLink]="['/employer']"><span class="menu-list-text">Sign-up</span></a>
          </li>
          <li class="menu-list-item">
            <a id="compw" [routerLink]="['/']"><span class="menu-list-text">Companies we work with</span></a>
          </li>
          <li class="menu-list-item">
            <a [routerLink]="['/login']"><span class="menu-list-text">Login/My Account</span></a>
          </li>
          <li class="menu-list-item">
            <a id="contactTA" [routerLink]="['/contact']"><span class="menu-list-text">Contact our TA
                Advisors</span></a>
          </li>
        </ul>

      </div>

      <div class="wow fadeIn col-md-3" data-wow-duration="1.3s" data-wow-delay="1.4s">
        <h3>For Recruiter</h3>
        <ul class="footer-menu-list-items">
          <li class="menu-list-item">
            <a id="hiwPartner" [routerLink]="['/hiw-partners']"><span class="menu-list-text">How it works</span></a>
          </li>
          <li class="menu-list-item">
            <a [routerLink]="['/recruiter']"><span class="menu-list-text">Sign-up</span></a>
          </li>
          <li class="menu-list-item">
            <a [routerLink]="['/job-details']"><span class="menu-list-text">Jobs on Emagine</span></a>
          </li>
          <li class="menu-list-item">
            <a [routerLink]="['/login']"><span class="menu-list-text">Login/My Account</span></a>
          </li>
          <li class="menu-list-item">
            <a id="contactMgr" [routerLink]="['/contact']"><span class="menu-list-text">Contact our Marketplace Partner
                Manager</span></a>
          </li>

        </ul>

      </div>

      <div class="wow fadeIn col-md-3" data-wow-duration="1.3s" data-wow-delay="1.6s">
        <h3>Emagine In News</h3>
        <ul class="footer-menu-list-items">
          <li class="menu-list-item">
            <a target="_blank"
              href="https://economictimes.indiatimes.com/news/company/corporate-trends/ema-partners-launches-its-brand-emagine-in-india/articleshow/62993236.cms"><span
                class="menu-list-text">EMA Partners launches its brand Emagine in India</span></a>
          </li>
        </ul>

        <!-- <h3><u><a  style="color:#fff" href="https://economictimes.indiatimes.com/news/company/corporate-trends/ema-partners-launches-its-brand-emagine-in-india/articleshow/62993236.cms"></a></u></h3> -->

      </div>

    </div>

    <!-- Row -->
    <div class="row">

      <div class="col-md-12 wow fadeIn" style="margin-top:20px;">

        <!-- footer copyright -->
        <div class="footer-copyright">
         
          <p>Copyright © 2019. All Rights Reserved. <a style="
            text-decoration: underline;margin-left:2%;text-transform: initial;" target="_blank" href="privacypolicy">Privacy Policy</a> </p>
          
        </div>
        <!-- /footer copyright -->

      </div>

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</footer>
<!-- /Footer -->